[submodule "Titanic-Problem"]
	path = Titanic-Problem
	url = ./Titanic-Problem
[submodule "WorldCup2022"]
	path = WorldCup2022
	url = ./WorldCup2022
[submodule "Diabetes_Indicator"]
	path = Diabetes_Indicator
	url = ./Diabetes_Indicator
[submodule "Housing_Price"]
	path = Housing_Price
	url = ./Housing_Price
